# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Visual Studio files
*.aps
*.idc
*.ilk
*.opendb
*.opensdf
*.pdb
*.pfx
*.ipdb
*.iobj
*.sdf
*.suo
*.user
*.tmp
*.tlog
*.log
*.idb

# Executables
*.exe
*.out
*.app
